@{
    ViewBag.Title = "道生";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="tile-area-title">
    <a>
        <img src="../Image/logo_48.png" alt="logo_48">
        DaoSheng
    </a>
</h1>
<div class="tile-group" ng-controller="viewEzineCtrl">
    <a class="tile double double-vertical" ng-repeat="item in ezines" data-url="contents.html" href="/Section/Index/{{item.EzineId}}">
        <div class="tile-content"><img ng-src="{{item.FilePath+item.OldFileName}}" alt="{{item.Name}}"></div>
        <div class="tile-status bg-dark opacity">
            <span class="label">{{item.Name}} @@{{item.PublishDate | formatterDate}}</span>
        </div>
    </a>

</div>
<script src="../lib/metro-ui/2.0.31/min/metro.min.js"></script>
<script>
    $('#sjTileArea').addClass('animated bounceInRight');
</script>