@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IQueryable<Ezine.Models.EzineViewModel>
<h1 class="tile-area-title">
    <a>
        <img src="../Image/logo_48.png" alt="logo_48">
        DaoSheng
    </a>
</h1>
<!-- .tile-group -->
<div class="tile-group">
    @foreach (var item in Model)
    {
        <a class="tile double double-vertical" data-url="contents.html" data-rel="@item.EzineId">
            <div class="tile-content"><img src="@item.FilePath@item.OldFileName" alt=""></div>
            <div class="tile-status bg-dark opacity">
                <span class="label">@item.Name  @@ @item.PublishDate.ToString("yyyy-MM");</span>
            </div>
        </a>
    }


</div><!-- /.tile-group -->

<script src="../lib/metro-ui/2.0.31/min/metro.min.js"></script>
<script>

    $('div a').on('click', function (e) {
        var id = $(this).attr('data-rel');
        window.location.href = 'Section/Index/' + id;
    });


    $('#sjTileArea').addClass('animated bounceInRight');
</script>