@model IList<Ezine.Models.Section>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var item in @Model)
{
    <h1 class="tile-area-title">
        <a data-url="#" href="/Home/Index" data-direction="rtl">
            <i class="icon-arrow-left-3 smaller"></i>
            Season 1
            <small class="subheader">Contents</small>
        </a>
    </h1>
    <div class="tile-group">
        <div class="tile-group-title"><i class="icon-list smaller on-left-more"></i>@item.Name</div>
        <div class="listview">
            <a data-url="tmpl-1.html" class="list" data-hint="" data-hint-position="top">
                <div class="list-content">
                    <img class="icon" src="http://lorempixel.com/124/125/animals/3" alt="">
                    <div class="data">
                        <span class="list-title">@article.Title</span>
                        <span class="list-remark">@article.Author<span class="label label-relay">转</span></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
}

<script>
    $('#sjTileArea').addClass('animated bounceInRight');
</script>