@model IList<Ezine.ViewModels.ArticleList>
@{
    ViewBag.Title = "Index";
}

<h1 class="tile-area-title">
    <a data-url="#" href="/Home/Index" data-direction="rtl">
        <i class="icon-arrow-left-3 smaller"></i>
        @Model.First().EzineName
        <small class="subheader">Contents</small>
    </a>
</h1>
@foreach (var item in @Model)
{
    <div class="tile-group">
        <div class="tile-group-title">
            <i class="icon-list smaller on-left-more"></i>
            @item.SectionName
        </div>
        <div class="listview">
            @foreach (var art in item.Articels)
            {
                <a href="/Article/Articel/@art.Id" class="list" data-hint="" data-hint-position="top">
                    <div class="list-content">
                        <img class="icon" src="http://lorempixel.com/124/125/animals/3" alt="">
                        <div class="data">
                            <span class="list-title">@art.Title</span>
                            <span class="list-remark">
                                @art.Author
                                @if (string.IsNullOrEmpty(art.Source))
                                {
                                    <span class="label label-relay">原</span>
                                }
                                else
                                {
                                    <span class="label label-relay">转</span>
                                }
                            </span>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
}

<script>
    $('#sjTileArea').addClass('animated bounceInRight');
</script>