<h1 class="tile-area-title">
    <a><img src="../img/logo_48.png" alt="logo_48"> DaoSheng</a>
</h1>
<!-- .tile-group -->
<div class="tile-group">
    <a class="tile double double-vertical" data-url="contents.html">
        <div class="tile-content"><img src="http://lorempixel.com/400/400/cats/7" alt=""></div>
        <div class="tile-status bg-dark opacity">
            <span class="label">Season 1 @ 2013 - 10</span>
        </div>
    </a>
    <a class="tile double double-vertical" data-click="transform">
        <div class="tile-content"><img src="http://lorempixel.com/400/400/cats/8" alt=""></div>
        <div class="tile-status bg-dark opacity">
            <span class="label">Season 2 @ 2013 - 01</span>
        </div>
    </a>
    <a class="tile double double-vertical" data-click="transform">
        <div class="tile-content"><img src="http://lorempixel.com/400/400/cats/9" alt=""></div>
        <div class="tile-status bg-dark opacity">
            <span class="label">Season 3 @ 2014 - 04</span>
        </div>
    </a>
    <a class="tile double double-vertical" data-click="transform">
        <div class="tile-content"><img src="http://lorempixel.com/400/400/cats/10" alt=""></div>
        <div class="tile-status bg-dark opacity">
            <span class="label">Season 4 @ 2014 - 06</span>
        </div>
    </a>
</div><!-- /.tile-group -->