<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SJ Metro Ezine</title>
    <meta name="keywords" content="SJ Metro Ezine">
    <meta name="description" content="SJ Metro Ezine v0.0.1">
    <meta name="author" content="J.Soon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="../lib/metro-ui/2.0.31/css/metro-bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="metro">
    <div class="tile-area tile-area-dark">
        <h1 class="tile-area-title fg-white"><img src="../img/logo_48.png" alt="logo_48"> DaoSheng</h1>

        <div class="tile-group">
            <a class="tile double double-vertical" data-click="transform">
                <div class="tile-content"><img src="http://lorempixel.com/400/400/cats/7" alt=""></div>
                <div class="tile-status bg-dark opacity">
                    <span class="label">Season 1 @ 2013 - 10</span>
                </div>
            </a>
            <a class="tile double double-vertical" data-click="transform">
                <div class="tile-content"><img src="http://lorempixel.com/400/400/cats/8" alt=""></div>
                <div class="tile-status bg-dark opacity">
                    <span class="label">Season 2 @ 2013 - 01</span>
                </div>
            </a>
            <a class="tile double double-vertical" data-click="transform">
                <div class="tile-content"><img src="http://lorempixel.com/400/400/cats/9" alt=""></div>
                <div class="tile-status bg-dark opacity">
                    <span class="label">Season 3 @ 2014 - 04</span>
                </div>
            </a>
            <a class="tile double double-vertical" data-click="transform">
                <div class="tile-content"><img src="http://lorempixel.com/400/400/cats/10" alt=""></div>
                <div class="tile-status bg-dark opacity">
                    <span class="label">Season 4 @ 2014 - 06</span>
                </div>
            </a>
        </div>
    </div>

    <script src="../lib/jquery/2.1.1/jquery-2.1.1.js"></script>
    <script src="../lib/jquery-ui/1.11.0/jquery-ui.js"></script>
    <script src="../lib/metro-ui/2.0.31/min/metro.min.js"></script>
    <script src="../js/sj.ezine.js"></script>
</body>

</html>