<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SJ Metro Ezine</title>
    <meta name="keywords" content="SJ Metro Ezine">
    <meta name="description" content="SJ Metro Ezine v0.0.1">
    <meta name="author" content="J.Soon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="../lib/metro-ui/2.0.31/css/metro-bootstrap.css">

    <script src="../lib/jquery/2.1.1/jquery-2.1.1.js"></script>
    <script src="../lib/jquery-ui/1.11.0/jquery-ui.js"></script>
    <script src="../lib/metro-ui/2.0.31/min/metro.min.js"></script>
</head>

<body class="metro">
    
</body>

</html>