/////////////////////////////////////////////////
// 公用样式表
/////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 字体变量
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@yaHei: 'Microsoft YaHei';

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 颜色变量
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@contents-item-border: #4390df;
@label-original: #008a00;
@label-relay: #1b6eae;

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 重写 metro-bootstrap.css
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.metro div, .metro span, .metro p {
    font-family: @yaHei;
}
.metro .tile-area {
    float: left;
    margin-right: -999em; // 确保能够完全水平滚动
    background-color: transparent !important;
    overflow: visible;
}
.metro .subheader {
    color: inherit;
    &:hover { color: inherit; }
    &:active { color: inherit; }
}
.metro .tile-group .tile-group-title > a {
    float: left;
    &:first-child {
        margin-right: 40px;
    }
}
.metro .tile {
    background-color: transparent;
    .tile-content {
        color: #999;
    }
}
.metro .listview .list {
    border-color: #666;
    &:hover {
        border-color: lighten(@contents-item-border, 10%);
        outline-color: @contents-item-border;
    }
    &:active {
        border-color: @contents-item-border;
        outline-color: darken(@contents-item-border, 20%);
    }
    .list-content {
        .list-title {
            font-size: 18px;
            line-height: 18px;
            margin-bottom: 10px;
            color: #999;
        }
        .list-remark {
            color: #eee;
        }
    }
}
// 滚动条
.metro .scrollbar-v, .metro .scrollbar-h {
    background-color: #666;
}
.metro .scrollbar-line-h, .metro .scrollbar-line-v, .metro .scrollbar-both {
    background-color: #333;
}
.metro .scrollbar-v-up, .metro .scrollbar-v-down, .metro .scrollbar-h-up, .metro .scrollbar-h-down, .metro .scrollbar-line-v-btn, .metro .scrollbar-line-h-btn {
    background-color: #333;
    border: 1px #666 solid;
}
.metro .scrollbar-line-v-btn:hover, .metro .scrollbar-line-h-btn:hover {
    background-color: #666;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 透明类
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.transparent (@opacity) {
    @ieOpacity: @opacity * 100;
    zoom: 1;
    filter: alpha(opacity=@ieOpacity);
    opacity: @opacity;
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 背景透明类
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.bg-transparent (@r, @g, @b, @opacity: 1) {
    background-color: rgb(@r, @g, @b);
    background-color: rgba(@r, @g, @b, @opacity);
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// <body>
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
body {
    background-color: #1d1d1d;
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// <div id="sjLoading">
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#sjLoading {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    .bg-transparent(0, 0, 0, 0.8);
    z-index: 9999;
    img {
        width: 147px;
        height: 132px;
    }
}
a {
    cursor: pointer !important;
}
.metro .label {
    padding: 6px;
    margin: 0 5px;
}
.metro .label-relay {
    color: #fff;
    background-color: @label-relay;
}
.metro .label-original {
    color: #fff;
    background-color: @label-original;
}