<h1 class="tile-area-title">
    <a data-direction="ltr" ng-href="#/ezines">
        <i class="icon-arrow-left-3 smaller"></i>
        Season 1
        <small class="subheader">Contents</small>
    </a>
</h1>
<div class="tile-group" ng-repeat="chapterGroup in articlesToFilter() | filter: filterChapters">
    <div class="tile-group-title"><i class="icon-list smaller on-left-more"></i>{{chapterGroup.chapterName}}</div>
    <div class="listview">
        <a class="list" data-direction="rtl" data-hint="{{article.articleName}}" data-hint-position="top" ng-href="#/ezines/{{ezineId}}/{{article.id}}" ng-repeat="article in articles | filter: {chapter: chapterGroup.chapter}" tile-area-directive>
            <div class="list-content">
                <img class="icon" ng-src="{{article.authorAvatar}}" alt="{{article.authorAvatar}}">
                <div class="data">
                    <span class="list-title">{{article.articleName}}</span>
                    <span class="list-remark">{{article.author}}<span class="label" ng-class="{'label-original': article.original, 'label-relay': !article.original}">{{article.original | articleSrc }}</span></span>
                </div>
            </div>
        </a>
    </div>
</div><!-- /.tile-group -->


