<h1 class="tile-area-title">
    <a>
        <img src="../img/logo_48.png" alt="logo_48">
        DaoSheng
    </a>
</h1>
<!-- .tile-group -->
<div class="tile-group">
    <a class="tile double double-vertical" data-direction="rtl" ng-href="#/ezines/{{ezine.id}}" ng-repeat="ezine in ezines">
        <div class="tile-content"><img ng-src="{{ezine.img}}" alt="{{ezine.img}}"></div>
        <div class="tile-status bg-dark opacity">
            <span class="label">{{ezine.season}} @ {{ezine.date}}</span>
        </div>
    </a>
</div><!-- /.tile-group --> 
