<h1 class="tile-area-title">
    <a data-direction="ltr" ng-href="#/ezines/{{ezineId}}">
        <i class="icon-arrow-left-3 smaller"></i>
        <span>思源黑体, 一款好用的开源中文字体</span>
        <small>NovaDNG</small>
    </a>
</h1>
<div id="sjArticleContent">
    9月13日, Newegg-SH进行了一场“编程马拉松运动”, 相关信息如下, 供大家阅读:

    故事背景: 美女小V在公司负责行政工作, 公司积累了大量的图片, 有年会照片, 旅游照片, 还有各种活动的照片, 这些照片被散乱的放置在服务器上。某天, 老总交给小V一个任务: 找一款图片软件, 自动播放和展示公司的各种照片。
    小V在网上辛苦的找了几天, 试用了N款软件, 都不能让老总满意,小V非常头疼. 事情被小V的攻城狮男友KK知道了, KK暗下决心, 找几个朋友, 花一个下午, 搞定这个事, 作为相识一周年的礼物, 献给小V! 于是,
    小伙伴们开始行动了……………

    基本要求: 自动播放和展示图片

    其他要求: 开发语言不限、 程序形式不限、 附加功能不限

    奖项设置: 设冠军团队一名, 由获得评委得分最高的团队活动； 冠军团队成员, 每人奖励机械键盘一个； 冠军团队成员, 获得定制水晶奖杯一座； 未获得冠军的参赛选手, 每人获得20积点

    评委成员: Newegg史上最强, 超豪华评委阵容, 10位美女评审团

    评分规则: 分组编程结束之后, 各个Team会在前台的电视机上, 进行作品展示, 时间5分钟； 作品展示的顺序, 抽签决定； 作品展示后, 各评委依据自身感受, 秉持公正公开的原则, 对作品进行评分,
    评分采取十分制(每人发三张白纸)； 各评委评分后, 取平均分, 作为作品的最终得分； 得分最高的Team, 获得冠军； 如果出现两个以上的Team得分相同, 由评委讨论决定最终获胜者

    故事结果： M3以超炫的“照片廊”获的美女评审团的青睐，各获得机械键盘一个。

    9月13日, Newegg-SH进行了一场“编程马拉松运动”, 相关信息如下, 供大家阅读:

    故事背景: 美女小V在公司负责行政工作, 公司积累了大量的图片, 有年会照片, 旅游照片, 还有各种活动的照片, 这些照片被散乱的放置在服务器上。某天, 老总交给小V一个任务: 找一款图片软件, 自动播放和展示公司的各种照片。
    小V在网上辛苦的找了几天, 试用了N款软件, 都不能让老总满意,小V非常头疼. 事情被小V的攻城狮男友KK知道了, KK暗下决心, 找几个朋友, 花一个下午, 搞定这个事, 作为相识一周年的礼物, 献给小V! 于是,
    小伙伴们开始行动了……………

    基本要求: 自动播放和展示图片

    其他要求: 开发语言不限、 程序形式不限、 附加功能不限

    奖项设置: 设冠军团队一名, 由获得评委得分最高的团队活动； 冠军团队成员, 每人奖励机械键盘一个； 冠军团队成员, 获得定制水晶奖杯一座； 未获得冠军的参赛选手, 每人获得20积点

    评委成员: Newegg史上最强, 超豪华评委阵容, 10位美女评审团

    评分规则: 分组编程结束之后, 各个Team会在前台的电视机上, 进行作品展示, 时间5分钟； 作品展示的顺序, 抽签决定； 作品展示后, 各评委依据自身感受, 秉持公正公开的原则, 对作品进行评分,
    评分采取十分制(每人发三张白纸)； 各评委评分后, 取平均分, 作为作品的最终得分； 得分最高的Team, 获得冠军； 如果出现两个以上的Team得分相同, 由评委讨论决定最终获胜者

    故事结果： M3以超炫的“照片廊”获的美女评审团的青睐，各获得机械键盘一个。
</div>

