@model Ezine.Models.Article
@{
    ViewBag.Title = "Articel";
}
<h1 class="tile-area-title">
    <a data-direction="ltr" href="/Section/Index/@Model.EzineId">
        <i class="icon-arrow-left-3 smaller"></i>
        <span>@Model.Title</span>
        <small>@Model.Author</small>
    </a>
</h1>
<div id="sjArticleContent">
    @Html.Raw(@Model.Contents)
</div>

